
    .connect{
        background-color: rgb(36, 11, 105);
        width: 150px;
        transition: background-color 0.3s ease-in-out;
        -webkit-transition: background-color 0.3s ease-in-out;
        -moz-transition: background-color 0.3s ease-in-out;
        -ms-transition: background-color 0.3s ease-in-out;
        -o-transition: background-color 0.3s ease-in-out;
        color: white;
       
    }
    .connect:hover{
        background-color: purple;
    }
    
    a{
        color: white!important;
    
    }
    a:hover{
        color: grey !important
    
    }
    
    .mobile-nav{
        background-color: rgba(0,0,0,0.5);
        border-radius: 10px;
    }
    .collection-img-wrapper{
        height: 200px;
        width: 250px;
        border: 3px solid white;
    }
    h2{
        color: white
    }
    
    main{
        background-color: rgba(0,0,0,1);
        
    }
    
    section{
        padding: 30px !important;
    }
    
    .nft-img{
        height: 400px;
        width: 100%;
        
    }
    .nft-img-1{
        height: 60px;
        width: 60px;
        
    }
    .ret{
        width: 90%;
    }
    .auction-works:hover{
        color:rgb(59, 5, 207) !important;
        border: 1px solid rgb(59, 5, 207) !important;
    }
    /* .box-1{
        padding: 10px;
    } */
    
    .box-1 > div > div{
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: rgba(53, 52, 52, 0.5);
        border-radius: 15px;
    
    
    }
    .bid-img-wrapper {
        height: 70px;
        width: 70px;
        border: 3px dotted white;
    }
    .bg-style{
        background-color: rgba(53, 52, 52, 0.5);
        border-radius: 15px;
    }