main h1 {
    font-size: clamp(40px, 5vw , 70px);
    line-height: 1.8;
    font-family: 'Tapestry', cursive;
    font-family: 'Fondamento', cursive;
    background-clip: text;
    background-image: linear-gradient(to bottom right, blue 30%, purple 50%);
    color: transparent;

}

main small{
    font-size: clamp(12px, 2vw, 14px);
}

main .price-symbol{
    color: gold;
    font-size: 24px;
    padding-right: 8px;
}

.h1-wrapper {
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    box-shadow: 0.2px 0.2px 4px grey;
    background-color: rgba(0, 0, 0, 0.3);
}
main h3{
    font-size: 22px;
}
main h3, main h2 , .sweet-talk, h4{
    font-family: 'El Messiri', 'Sans serif';
}
.sweet-talk{
    font-size: 25px;
}
.nft-image-block{
    height: 500px;
}
.nft-image-block img, 
.nft-image-block > a {
    border-radius: 12px 12px 40px 0;
    -webkit-border-radius: 12px 12px 40px 0;
    -moz-border-radius: 12px 12px 40px 0;
    -ms-border-radius: 12px 12px 40px 0;
    -o-border-radius: 12px 12px 40px 0;
}

.nft-image-block > a {
    transition: transform 1s linear;
    -webkit-transition: transform 1s linear;
    -moz-transition: transform 1s linear;
    -ms-transition: transform 1s linear;
    -o-transition: transform 1s linear;
    text-decoration: none;
}



.nft-image {
    max-height: 300px;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 12px 12px 0 0;
    -webkit-border-radius: 12px 12px 0 0;
    -moz-border-radius: 12px 12px 0 0;
    -ms-border-radius: 12px 12px 0 0;
    -o-border-radius: 12px 12px 0 0;
}

.nft-image-block img {

    transition: transform 1s linear;
    -webkit-transition: transform 1s linear;
    -moz-transition: transform 1s linear;
    -ms-transition: transform 1s linear;
    -o-transition: transform 1s linear;
}

.nft-image-block img:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

.nft-image-block> a {
    opacity: 0.8;
    display: block;
    border: 1px solid #fff;
}

.nft-image-block> a:hover{
    color: white !important;
}
.trending-list{
    border: 1px dotted purple;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    max-height: 420px;
    max-width: 350px;
}

.trending-list .img-cont{
    max-height: 400px;
   
}

.img-cont img{
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}


.club-name{
    font-size: 16px;
    font-weight: lighter;
    color: rgb(9, 228, 210);
    cursor: pointer;
}

.time{
    font-size: 18px;
}

.f-nft-image-block{
    height: 250px;
}

.c-name, .f-nft-image-block a{
    font-family: orbitron;
}
 a{
    color: #fff !important;
}

.select{
    padding:  8px !important;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    height: 50px;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    
}
.f-nft-image-block a:hover{
    color: rgb(71, 71, 70)!important;
}
.address-big{
    font-size: 25px;
    font-family: "Orbitron";
}
.categ{
    font-size: clamp(16px, 2vw, 25px);
}
.categ span{
    display: inline-block;
    cursor: pointer;
    font-family: "El Messiri", serif;
 
}
.categ span:hover{
    border-bottom: 2px solid white;
}
.r-btn{
    padding: 10px !important;
    border: 2px solid white;
    color: white;
    width: 150px;
}
.r-btn:hover, .r-btn:focus{
    background-color: grey;
    color: white;
    box-shadow: 0.3px 0.3px 8px white;
}
.search-input{
    background-color: transparent;
    border: 2px solid white;
}
.error{
    font-size: 70px;
}
/* MEDIA QUERIES */

@media only screen and (min-width: 767px){
   main h3{
    font-size: 25px;
   }
   .time{
    font-size: 22px;
}

   body{
       font-size: 17px;
   }
  main h4{
       font-size: 22px;
   }
}